body {
  scroll-behavior: smooth;
}
:root {
  --primary-color: rgb(29, 29, 31);
  --secondary-color: rgb(213, 249, 103);
  --first-color: rgb(68, 68, 77);
}
a {
  text-decoration: none;
}
/* header start*/
.header {
  padding: 20px 0;
}
.header ul {
  background-color: rgb(52, 52, 56);
  border-radius: 90px;
  padding: 8px;
}
/* list hover start*/
.header .nlist {
  position: relative;
  display: inline-block;
  padding-right: 10px;
}
.nlist .nlistdropdown {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 8px;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 400;
}
.header .nlist:hover .nlistdropdown {
  display: block;
}
.header .hmenu {
  display: none;
}
.header .hmenu i {
  color: black;
  font-size: 32px;
}
/* list hover ends*/
.header .nlist .nlink {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  margin-right: 20px;
  color: #fff;
  border-radius: 90px;
}
.header .nlist .nlink:hover {
  background-color: rgb(68, 68, 77);
  color: rgb(203, 251, 69);
  border-radius: 90px;
}
.header .nlist .active {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  margin-right: 20px;
  color: #fff;
  border-radius: 90px;
}
.header .nlist .active {
  background-color: rgb(68, 68, 77);
  color: var(--secondary-color);
  border-radius: 90px;
}
.header .ntrail a {
  padding: 15px 40px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 90px;
  transition: 0.5s;
}
.header .ntrail a:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: black;
  border-radius: 90px;
}
/* header end*/
/*  */
.ham-menu {
  height: 100vh;
  width: 200px;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  background-color: #fff;
  position: fixed;
  z-index: 99999;
  display: none;
  transition: 0.5s ease-in-out;
}
.ham-menu img {
  padding: 20px 0;
  margin-left: 32px;
  width: 100px;
}
.ham-menu ul {
  flex-direction: column;
  /* text-align: center; */
  float: right;
  padding-right: 40px;
}
.ham-menu ul li a {
  color: var(--primary-color);
}
/*-----*/
/*  */
.first {
  padding: 180px 0 90px 0;
}
.first .get {
  margin-bottom: 20px;
}
.test {
  background-color: var(--primary-color);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 25px;
  color: #fff;
}
.first .one {
  text-align: center;
}
.first .one h2 {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: -4px;
  color: var(--primary-color);
}
.first .one p {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  padding: 0 100px;
}
/*-----*/
/*-----*/
.second {
  padding-bottom: 130px;
}
.second .contact {
  padding-bottom: 130px;
}
.second .one {
  width: 100%;
  padding: 50px 30px;
  background-color: var(--first-color);
  border-radius: 16px;
}
.second i {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}
.second h5 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.second span {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.second p {
  color: rgb(203, 251, 69);
  font-size: 16px;
  font-weight: 400;
}
.cform h2 {
  text-align: center;
  margin: 50px;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
}
.second .cform .fform {
  padding: 30px;
  background-color: rgb(242, 242, 240);
  margin: 0 15%;
}
.second .cform label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--primary-color);
}
.second .cform input {
  display: block;
  border: 1px solid rgb(208, 208, 219);
  border-radius: 4px;
  padding: 4px 8px 4px 20px;
  width: 100%;
  height: 64px;
  background-color: rgb(242, 242, 240);
}
.second .cform textarea {
  display: block;
  padding: 20px 0 0 20px;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
  height: 230px;
  border: 1px solid rgb(208, 208, 219);
  background-color: rgb(242, 242, 240);
}
.second .cform button {
  border: 0;
  padding: 20px 50px;
  width: 100%;
  background-color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400px;
  transition: 0.8s;
  border-radius: 8px;
}
.second .cform button:hover {
  background-color: black;
  color: #fff;
}
/*-----*/
/*-----*/
.last {
  padding: 130px 0;
  background-color: black;
}
.last .image {
  z-index: 1;
  top: 12%;
  left: 24%;
  position: absolute;
  animation: arr 4s linear infinite alternate;
}
@keyframes arr {
  0% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(-0.5rem);
  }
  50% {
    transform: translateX(0rem);
  }
  75% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
.last h2 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 600;
  color: var(--secondary-color);
  letter-spacing: -2px;
}
.last .search {
  padding: 1px 2px 1px 20px;
  border: 0;
  border-radius: 50px;
  height: 64px;
  width: 40%;
}
.last .submit {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  border: 0;
  border-radius: 200px;
  background-color: var(--secondary-color);
  margin-left: -183px;
  transition: 0.5s;
}
.last .submit:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.last p {
  margin-top: 10px;
  margin-bottom: 40px;
  /* color: rgb(108, 108, 115); */
  color: #fff;
}
/*-----*/
.footer {
  padding: 130px 0 10px 0;
}
.footer .one {
  padding: 32px;
  background-color: rgb(242, 242, 240);
  border-radius: 24px;
}
.footer .one p {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}
.footer .one i {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.footer .one i:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.footer .item h4 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}
.footer .item ul {
  list-style: none;
  padding: 0;
}
.footer .item ul li {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(68, 68, 77);
  cursor: pointer;
}
.footer .item ul li:hover {
  text-decoration: underline;
}

/*-----*/
@media (min-width: 300px) and (max-width: 991.98px) {
  .header ul {
    display: none;
  }
  .header .hmenu {
    display: block;
  }
  .header img {
    margin-inline-end: auto;
    width: 100px;
  }
  .header .ntrail {
    display: none;
  }
  .ham-menu {
    display: block;
  }
  .first {
    padding: 140px 0 40px 0;
  }
  .test {
    font-size: 15px;
  }
  .first .one h2 {
    font-size: 45px;
    letter-spacing: 0px;
  }
  .first .one p {
    font-size: 16px;
    padding: 0;
  }
  .second {
    padding-bottom: 80px;
  }
  .second .one {
    margin-top: 10px;
  }
  .second i {
    font-size: 22px;
  }
  .second h5 {
    font-size: 18px;
  }
  .second span {
    font-size: 14px;
  }
  .second p {
    font-size: 14px;
  }
  .cform h2 {
    font-size: 30px;
    margin: 10px;
  }
  .second .cform .fform {
    margin: 0 8%;
  }
  .last {
    padding: 80px 0;
  }
  .last h2 {
    font-size: 40px;
  }
  .last .search {
    width: 65%;
  }
  .last .image {
    display: none;
  }
  .footer {
    padding: 80px 0 10px 0;
  }
  .footer .one {
    padding: 32px;
    text-align: center;
  }
  .footer .one p {
    margin-bottom: 24px;
    font-size: 16px;
  }
  .footer .one i {
    font-size: 14px;
  }
  .footer .item {
    margin-top: 20px;
    text-align: center;
  }
  .footer .item h4 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .footer .item ul li {
    padding-bottom: 20px;
    font-size: 14px;
  }
}
@media (min-width: 300px) and (max-width: 767.98px) {
  .footer .one {
    padding: 15px;
  }
}
@media (min-width: 300px) and (max-width: 750.98px) {
  .second .cform .fform {
    margin: 0;
  }
  .last .search {
    width: 70%;
  }
  .last .submit {
    padding: 16px 32px;
    margin: 5px 0 0 0;
  }
}
@media (min-width: 300px) and (max-width: 474.98px) {
  .last h2 {
    font-size: 30px;
    letter-spacing: 0px;
  }
}
