body {
  scroll-behavior: smooth;
}
:root {
  --primary-color: rgb(29, 29, 31);
  --secondary-color: rgb(213, 249, 103);
}
a {
  text-decoration: none;
}
.main {
  background-color: var(--primary-color);
}
/* header start*/
.header {
  padding: 20px 0;
}
.header ul {
  background-color: rgb(52, 52, 56);
  border-radius: 90px;
  padding: 8px;
}
/* list hover start*/
.header .nlist {
  position: relative;
  display: inline-block;
  padding-right: 10px;
}
.nlist .nlistdropdown {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 8px;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 400;
}
.header .nlist:hover .nlistdropdown {
  display: block;
}
.header .hmenu {
  display: none;
}
.header .hmenu i {
  color: black;
  font-size: 32px;
}
/* list hover ends*/
/**/
.header .nlist .nlink {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  margin-right: 20px;
  color: #fff;
  border-radius: 90px;
}
.header .nlist .nlink:hover {
  background-color: rgb(68, 68, 77);
  color: var(--secondary-color);
  border-radius: 90px;
}
.header .ntrail a {
  padding: 15px 40px;
  border: 2px solid #fff;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 90px;
  transition: 0.5s;
}
.header .ntrail a:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: black;
  border-radius: 90px;
}
/* header end*/
/*  */
.ham-menu {
  height: 100vh;
  width: 200px;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  position: fixed;
  z-index: 99999;
  display: none;
  transition: 0.6s ease-in-out;
}
.ham-menu img {
  padding: 20px 0;
  margin-left: 32px;
  width: 100px;
}
.ham-menu ul {
  flex-direction: column;
  text-align: center;
  float: right;
  padding-right: 40px;
}
.ham-menu ul li a {
  color: #fff;
}
/*  */
/*  */
.thepadding {
  padding: 150px 0 500px 0;
}
/*-----*/
.one-body {
  text-align: center;
}
.trust {
  background-color: var(--secondary-color);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  padding: 10px 25px;
}
.one-body h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 80px;
  font-weight: 600;
}
.one-body h2 span {
  color: var(--secondary-color);
}
.one-body p {
  color: #fff;
  padding: 0 200px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
}
.one-body .search {
  padding: 1px 2px 1px 20px;
  border: 0;
  border-radius: 50px;
  height: 64px;
  width: 50%;
}
.one-body .submit {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  border: 0;
  border-radius: 200px;
  background-color: var(--secondary-color);
  margin-left: -183px;
  transition: 0.5s;
}
.one-body .submit:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.one-body .credit {
  margin-top: 10px;
  margin-bottom: 40px;
  color: rgb(108, 108, 115);
}
/*  */
/*-----*/
.two-body img {
  margin-top: -450px;
}
.two-body .trusted {
  padding-top: 110px;
}
.two-body h5 {
  margin-bottom: 50px;
}
/*-----*/
.first {
  padding: 130px 0;
}
.first .about {
  align-content: center;
}
.first .about h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--primary-color);
}
.first .about p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(230, 230, 235);
}
.first .about h3 {
  font-size: 56px;
  font-weight: 600;
}
.first .about span {
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.first .image {
  padding-left: 100px;
  padding-right: 0;
  align-content: center;
}
/*-----*/
/*-----*/
.second {
  padding-bottom: 130px;
}
.second .about {
  align-content: center;
}
.second .about h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 15px;
}
.second .about p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
.second .image img {
  border-radius: 20px;
}
.second .about .zero {
  padding: 16px;
  border: 1px solid rgb(230, 230, 235);
  border-radius: 16px;
}
.second .about .zero h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--primary-color);
}
.second .about .zero p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: rgb(68, 68, 77);
}
.second .about .zero i {
  text-align: center;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-bottom: 18px;
}
/*-----*/
/*-----*/
.third {
  padding: 130px 0;
  text-align: center;
  background-color: var(--primary-color);
}
.third .workflow {
  margin-bottom: 40px;
}
.third .header {
  margin-bottom: 70px;
}
.third h2 {
  font-size: 37px;
  font-weight: 600;
  color: #fff;
}
.third h2 span {
  color: rgb(213, 249, 103);
}
.third .one span {
  border: 5px solid rgb(97, 97, 99);
  border-radius: 50%;
  color: rgb(213, 249, 103);
  background-color: rgb(124, 124, 130);
  padding: 25px 35px;
  font-size: 32px;
  font-weight: 600;
}
.third .one h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 40px 0 24px 0;
}
.third .one p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
/*-----*/
/*-----*/
.fourth {
  padding-top: 130px;
}
.four {
  text-align: center;
  margin-bottom: 70px;
}
.fourth .four .textimonial {
  margin-bottom: 40px;
}
.test {
  background-color: var(--primary-color);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  padding: 10px 25px;
  color: #fff;
}
.four h2 {
  font-size: 37px;
  font-weight: 600;
  color: var(--primary-color);
}
.box {
  background-color: rgb(242, 242, 240);
  padding: 30px;
  border-radius: 16px;
  transition: 0.5s ease-in-out;
}
.box:hover {
  background-color: var(--primary-color);
}
.box:hover * :not(i) {
  color: #fff;
}
.box i {
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.box p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  color: var(--primary-color);
}
.box h5 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
}
.box span {
  font-size: 14px;
  font-weight: 500;
  color: rgb(68, 68, 77);
  line-height: 21px;
}
.box img {
  margin-right: 10px;
}
/*-----*/
/*-----*/
.fifth {
  padding-top: 130px;
}
.fifth .title {
  margin-bottom: 40px;
}
/* .fifth .price {
  display: flex;
  justify-content: center;
}
.fifth .price span {
  display: inline-block;
  text-align: center;
  background-color: rgb(249, 249, 250);
  border-radius: 30px;
  margin-bottom: 60px;
}
.fifth .price ul {
  padding: 10px;
}
.fifth .price .first button {
  padding: 16px 24px;
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
  line-height: 18px;
}
.fifth .price .second button {
  padding: 16px 24px;
  background-color: rgb(249, 249, 250);
  border: 0;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
  line-height: 18px;
} */
.items {
  padding: 60px 50px;
  background-color: rgb(242, 242, 240);
  border-radius: 16px;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.items:hover {
  background-color: var(--primary-color);
}
.items:hover * {
  color: #fff;
}
.items p {
  margin-bottom: 15px;
  color: rgb(68, 68, 77);
  font-size: 18px;
  font-weight: 500;
}
.items h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 40px;
  color: var(--primary-color);
  letter-spacing: -2px;
}
.items:hover h2 {
  color: var(--secondary-color);
}
.items h2 span {
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
}
.items:hover h2 span {
  color: var(--secondary-color);
}
.items h5 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}
.items ul {
  flex-direction: column;
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 40px;
}
.items ul li {
  column-gap: 15px;
  font-size: 18px;
  font-weight: 500;
  row-gap: 15px;
  color: var(--primary-color);
}
.items ul li i {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-color);
}
.items:hover ul li i {
  color: var(--secondary-color);
}
.items a {
  padding: 18px 70px;
  background-color: var(--primary-color);
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.items:hover a {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.items-active {
  padding: 60px 50px;
  background-color: var(--primary-color);
  border-radius: 16px;
  width: 100%;
}
.items-active p {
  margin-bottom: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.items-active h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 40px;
  color: var(--secondary-color);
  letter-spacing: -2px;
}
.items-active h2 span {
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-color);
}
.items-active h5 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.items-active ul {
  flex-direction: column;
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 40px;
}
.items-active ul li {
  column-gap: 15px;
  font-size: 18px;
  font-weight: 500;
  row-gap: 15px;
  color: #fff;
}
.items-active ul li i {
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary-color);
}
.items-active a {
  padding: 18px 70px;
  width: 100;
  background-color: var(--secondary-color);
  border-radius: 50px;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}
/*-----*/
/*-----*/
.sixth {
  padding: 130px 0;
}
.sixth .title {
  margin-bottom: 40px;
}
.blog {
  padding: 30px;
  background-color: rgb(242, 242, 240);
  border-radius: 16px;
}
.blog img {
  border-radius: 16px;
}
.blog .one {
  margin: 30px 0;
}
.blog .one a {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(68, 68, 77);
}
.blog .one span {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
}
.blog h4 {
  margin-bottom: 15px;
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.blog p {
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
}
.blog .readmore {
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--primary-color);
}
.blog .readmore i {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
}
/*-----*/
/*-----*/
.seventh {
  background-color: rgb(29, 29, 31);
  padding-top: 130px;
}
.last {
  padding-left: 60px;
}
.last h2 {
  margin-bottom: 30px;
  font-size: 72px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #fff;
}
.last h2 span {
  color: var(--secondary-color);
}
.last p {
  color: #fff;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
}
.last .image {
  display: flex;
  column-gap: 30px;
}
.last .image img {
  transition: 0.3s ease-in-out;
}
.last .image img:hover {
  transform: scale(1.1);
}
.phone {
  animation: phone 5s linear infinite;
}
.phone img {
  height: 500px;
}
@keyframes phone {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
/*-----*/
/*-----*/
.footer {
  padding: 130px 0 10px 0;
}
.footer .one {
  padding: 32px;
  background-color: rgb(242, 242, 240);
  border-radius: 24px;
}
.footer .one p {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}
.footer .one i {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.footer .one i:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.footer .item h4 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}
.footer .item ul {
  list-style: none;
  padding: 0;
}
.footer .item ul li {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(68, 68, 77);
  cursor: pointer;
}
.footer .item ul li:hover {
  text-decoration: underline;
}
/*  */
/*  */
@media (min-width: 992px) and (max-width: 1400px) {
  .items a {
    padding: 18px 10%;
  }
  .items-active a {
    padding: 18px 10%;
  }
}
@media (min-width: 300px) and (max-width: 991.98px) {
  .header ul {
    display: none;
  }
  .header .hmenu {
    display: block;
  }
  .header img {
    width: 100px;
  }
  .ntrail {
    display: none;
  }
  .header .ntrail a {
    padding: 8px 20px;
  }
  .ham-menu {
    display: block;
  }
  .thepadding {
    padding: 150px 0 50px 0;
  }
  .one-body h2 {
    font-size: 50px;
    font-weight: 600;
  }
  .one-body p {
    padding: 0 10px;
  }
  .one-body .search {
    width: 80%;
  }
  .two-body img {
    margin-top: 20px;
  }
  .two-body .trusted {
    padding-top: 50px;
  }
  .first {
    padding: 80px 0;
  }
  .first .image {
    align-items: center;
    text-align: center;
  }
  .first .about h2 {
    font-size: 35px;
  }
  .first .about p {
    font-size: 14px;
  }
  .first .about h3 {
    font-size: 40px;
  }
  .first .about span {
    font-size: 15px;
  }
  .first .image {
    margin-top: 15px;
    padding: 0;
  }
  .second {
    padding-bottom: 80px;
  }
  .second .about h2 {
    font-size: 30px;
  }
  .second .about p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .second .about .zero h5 {
    font-size: 14px;
  }
  .second .about .zero p {
    font-size: 12px;
  }
  .second .about .zero i {
    font-size: 12px;
    height: 20px;
    width: 20px;
  }
  .third {
    padding: 80px 0;
  }
  .third .workflow {
    margin-bottom: 20px;
  }
  .third .header {
    margin-bottom: 40px;
  }
  .third h2 {
    font-size: 32px;
  }
  .third .one span {
    padding: 20px 30px;
    font-size: 24px;
  }
  .third .one h2 {
    font-size: 28px;
    margin: 30px 0 20px 0;
  }
  .third .one p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .fourth {
    padding-top: 80px;
  }
  .four {
    margin-bottom: 40px;
  }
  .fourth .four .textimonial {
    margin-bottom: 20px;
  }
  .four h2 {
    font-size: 30px;
  }
  .box {
    padding: 20px;
  }
  .box i {
    font-size: 14px;
  }
  .box p {
    font-size: 18px;
  }
  .box h5 {
    font-size: 14px;
  }
  .box span {
    font-size: 12px;
  }
  .fifth {
    padding-top: 80px;
  }
  .fifth .title {
    margin-bottom: 20px;
  }
  .items {
    padding: 40px 30px;
  }
  .items h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .items h2 span {
    font-size: 14px;
  }
  .items h5 {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .items ul li {
    column-gap: 10px;
    font-size: 16px;
    row-gap: 10px;
  }
  .items ul li i {
    font-size: 16px;
  }
  .items a {
    padding: 18px 14%;
    font-size: 14px;
  }
  .items-active {
    padding: 40px 30px;
  }
  .items-active h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .items-active h2 span {
    font-size: 14px;
  }
  .items-active h5 {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .items-active ul li {
    column-gap: 10px;
    font-size: 16px;
    row-gap: 10px;
  }
  .items-active ul li i {
    font-size: 16px;
  }
  .items-active a {
    padding: 18px 14%;
    font-size: 14px;
  }
  .sixth {
    padding: 80px 0;
  }
  .sixth .title {
    margin-bottom: 20px;
  }
  .blog h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .blog p {
    padding-bottom: 10px;
    font-size: 16px;
  }
  .blog .readmore {
    font-size: 13px;
  }
  .blog .readmore i {
    font-size: 12px;
  }
  .seventh {
    padding-top: 80px;
  }
  .last {
    padding-left: 0px;
    text-align: center;
  }
  .last h2 {
    margin-bottom: 15px;
    font-size: 45px;
  }
  .last p {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .last .image {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
  .last .image img {
    width: 150px;
  }
  .phone {
    text-align: center;
    margin-top: 10px;
  }
  .phone img {
    height: 350px;
  }
  .footer {
    padding: 80px 0 10px 0;
  }
  .footer .one {
    padding: 32px;
    text-align: center;
  }
  .footer .one p {
    margin-bottom: 24px;
    font-size: 16px;
  }
  .footer .one i {
    font-size: 14px;
  }
  .footer .item {
    margin-top: 20px;
    text-align: center;
  }
  .footer .item h4 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .footer .item ul li {
    padding-bottom: 20px;
    font-size: 14px;
  }
}
@media (min-width: 300px) and (max-width: 767.98px) {
  .items {
    /* width: 50%; */
    margin-bottom: 15px;
  }
  .blog {
    margin-bottom: 20px;
  }
  .footer .one {
    padding: 15px;
  }
  .item {
    margin-top: 15px;
  }
}
@media (min-width: 300px) and (max-width: 750.98px) {
  .one-body .submit {
    margin-top: 5px;
    padding: 16px 32px;
    margin-left: 0px;
  }
}
@media (min-width: 320.98px) and (max-width: 575.98px) {
  .items {
    text-align: center;
  }
  .items ul li {
    justify-content: center;
  }
  .items-active {
    text-align: center;
  }
  .items-active ul li {
    justify-content: center;
  }
}
@media (min-width: 300px) and (max-width: 575.98px) {
  .thepadding {
    padding: 150px 0 20px 0;
  }
  .one-body h2 {
    font-size: 36px;
  }
  .one-body p {
    font-size: 14px;
  }
}
